<div *ngIf="rulesCollection" class="container-fluid">
  <button class="btn btn-info btn-xs" (click)="goBack()"><span class="fa fa-arrow-left"></span> Back</button>
  <h1>Rules from file : {{ rulesCollection.fileName }} </h1>
  <div class="card card-outline">
    <div class="card-header">Defined Rules :</div>
    <div class="card-block">
      <h4 class="card-title">{{ rulesCollection.description }}</h4>
      <p class="card-text">Uploaded on : {{ rulesCollection.creationDate }}</p>
      <!--Add new rule button-->
      <button class="btn btn-success" id="addRule" (click)="insertRule()">
        <span class="fa fa-plus"></span> <b>Insert new rule</b>
      </button>
      <button class="btn btn-info" id="addRule" (click)="ImportInSnort()">
        <span class="fa fa-upload"></span> <b>Import .rules into Snort</b>
      </button>
      <button class="btn btn-warning" id="addRule" (click)="ExportRulesCSV()">
        <span class="fa fa-save"></span> <b>Export .rules file</b>
      </button>
      <!--Render table-->
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th> # </th>
            <th> Type </th>
            <th> Protocol </th>
            <th> Source IP </th>
            <th> Source Port </th>
            <th> Direction </th>
            <th> Destionation IP </th>
            <th> Destionation Port </th>
            <th> MSG </th>
            <th> Actions </th>
          </tr>
        </thead>
        <tbody class="table">
          <tr *ngFor="let rule of rules; let i = index">
            <ng-container *ngIf="rule.id != selectedRuleId;else editable">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ typeToString(rule.type) }}</td>
              <td>{{ protocolToString(rule.protocol) }}</td>
              <td>{{ rule.sourceIP}}</td>
              <td>{{ rule.sourcePort}}</td>
              <td>{{ directionToString(rule.direction) }}</td>
              <td>{{ rule.destinationIP}}</td>
              <td>{{ rule.destinationPort}}</td>
              <td>{{ rule.content}}</td>
              <td>
                <div class="btn-group btn-group-justified inline mx-auto">
                  <button class="btn btn-info btn-xs" alt="Edit" (click)='[selectRuleForEdit(rule.id)]'><span class="fa fa-pencil"></span></button>
                  <button class="btn btn-danger btn-xs" alt="Delete" (click)='modal.showChildModal(rule.id)'><span class="fa fa-trash"></span></button>
                </div>
              </td>
            </ng-container>
            <!-- If it's editable , show the editable template -->
            <ng-template #editable class="form-group">
              <th scope="row">{{ i + 1 }}</th>
              <!--Type-->
              <td>
                <select class="form-control" id="selectType" [(ngModel)]='rule.type'>
                  <option [ngValue]='0'>{{ typeToString(0) }}</option>
                  <option [ngValue]='1'>{{ typeToString(1) }}</option>
                  <option [ngValue]='2'>{{ typeToString(2) }}</option>
                  <option [ngValue]='3'>{{ typeToString(3) }}</option>
                  <option [ngValue]='4'>{{ typeToString(4) }}</option>
                  <option [ngValue]='5'>{{ typeToString(5) }}</option>
                  <option [ngValue]='6'>{{ typeToString(6) }}</option>
                  <option [ngValue]='7'>{{ typeToString(7) }}</option>
                </select>
              </td>
              <!--Protocol-->
              <td>
                <select class="form-control" id="selectProtocol" [(ngModel)]='rule.protocol'>
                  <option [ngValue]='0'>{{ protocolToString(0) }}</option>
                  <option [ngValue]='1'>{{ protocolToString(1) }}</option>
                  <option [ngValue]='2'>{{ protocolToString(2) }}</option>
                  <option [ngValue]='3'>{{ protocolToString(3) }}</option>
                </select>
              </td>
              <td><input class="form-control" [(ngModel)]='rule.sourceIP'></td>
              <td><input class="form-control" [(ngModel)]='rule.sourcePort'></td>
              <td>
                <select class="form-control" id="selectDirection" [(ngModel)]='rule.direction'>
                  <option [ngValue]='0'>{{ directionToString(0) }}</option>
                  <option [ngValue]='1'>{{ directionToString(1) }}</option>
                </select>
              </td>
              <td><input class="form-control" [(ngModel)]='rule.destinationIP'></td>
              <td><input class="form-control" [(ngModel)]='rule.destinationPort'></td>
              <td><textarea class="form-control" [(ngModel)]='rule.content'></textarea></td>
              <td>
                <div class="btn-group btn-group-justified inline mx-auto">
                  <button class="btn btn-info btn-xs" alt="Save" (click)='[saveRule()]'><span class="fa fa-floppy-o"></span></button>
                  <button class="btn btn-danger btn-xs" alt="Delete" (click)='modal.showChildModal(rule.id)'><span class="fa fa-trash"></span></button>
                </div>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Just the modal dialog-->
<modal-dialog #modal [parent]='this'></modal-dialog>
<!--Another modal dialog-->
<div class="modal fade" bsModal #importFinishedModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Import complete !</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideImportFinishedModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" src="/assets/ThumbsUP.jpg">
        <p> Your file was imported succesfully , you can now restart <b>Snort</b> for the changes to have effect !</p>
        <button class="btn btn-success btn-block" (click)='hideImportFinishedModal()'>Thanks!</button>
      </div>
    </div>
  </div>
</div>