<div *ngIf="rulesCollection" class="container-fluid">
  <button class="btn btn-primary btn-xs" (click)="goBack()"><span class="fa fa-arrow-left"></span> Back</button>
  <h1>Rules from file : {{ rulesCollection.fileName }} </h1>
  <div class="card card-outline">
    <div class="card-header">Uploaded on : {{ rulesCollection.creationDate }}</div>
    <div class="card-block">
      <h4 class="card-title">Defined Rules :</h4>
      <p class="card-text">{{ rulesCollection.description }}</p>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th> # </th>
            <th> Type </th>
            <th> Protocol </th>
            <th> Source IP </th>
            <th> Source Port </th>
            <th> Direction </th>
            <th> Destionation IP </th>
            <th> Destionation Port </th>
            <th> Content </th>
            <th> Actions </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rule of rules">
            <th scope="row">{{rule.id}}</th>
            <td>{{ typeToString(rule.type) }}</td>
            <td>{{ protocolToString(rule.protocol) }}</td>
            <td>{{ rule.sourceIP}}</td>
            <td>{{ rule.sourcePort}}</td>
            <td>{{ directionToString(rule.direction) }}</td>
            <td>{{ rule.destinationIP}}</td>
            <td>{{ rule.destinationPort}}</td>
            <td>{{ rule.content}}</td>
            <td>
              <button class="btn btn-primary btn-xs" alt="Edit"><span class="fa fa-pencil"></span></button>
              <button class="btn btn-danger btn-xs" alt="Delete"><span class="fa fa-trash"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>