h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top:20px;
    margin-bottom:50px;
}
input{
    width:100%;
}
textarea, select{
    width:100%;
}

#addRule{
    float:right;
    margin:10px;
}
table{
    font-size:0.9em;
}