<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Snort Manager</h1>
    <p class="lead">Snort manager is an application created in order to ease the use of the popular snort security rules.
       With this application, you will have to ocassion to import custom .csv files in order to generate snort rules out of them.
       To start , import a snort .csv alert file!</p>
    <a class="btn btn-lg btn-success" href="../../components/navbar/" role="button">Import &raquo;</a>
    <a class="btn btn-lg btn-primary" href="/history" role="button">View history &raquo;</a>
  </div>
</div>